/**************************
parameters
***********************/
$main-font-color: #1D1D1D;
$second-font-color: #626262;
$main-font-size: 13px;
$containers-max-width: 956px;
$containers-paddings-for-small-screens: 0 5px;
//End of parameters


@import 'src/footer.scss';
@import 'src/header.scss';
@import 'src/device.scss';
@import 'src/product.scss';